#QuirIOT
# NO SUBIR ESTE ARCHIVO A GIT

# BASE DE DATOS
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=quiriot_db
DB_USERNAME=quiriot_user
DB_PASSWORD=test

# FIREBASE
FIREBASE_API_KEY=
FIREBASE_PROJECT_ID=
